{% from "trickster/map.jinja" import trickster with context %}

# THIS FILE IS MANAGED BY SALT
[main]
 
[proxy_server]
listen_port = {{ trickster.listen_port }}
 
[cache]
cache_type = 'memory'
compression = true
 
[origins]
    [origins.default]
    origin_url = '{{ trickster.prometheus_url }}'
    api_path = '/api/v1'
    default_step = 300
    max_value_age_secs = {{ trickster.max_value_age_secs }}
 
[metrics]
listen_port = {{ trickster.metric_port }}
 
[logging]
log_level = '{{ trickster.log_level }}'
